.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--bgColor);
}

.right-nav,
.left-nav {
    display: flex;
    align-items: center;
    gap: 10px;
}

.left-nav > a {
    font-size: 25px;
    font-family: var(--primaryFont);
}

a {
    text-decoration: none;
    padding: 10px;
    background-color: var(--primaryColor);
    border-radius: 10px;
    margin: 5px;
    color: black;
}

.right-nav > a {
    color: #3d3d3d;
    font-size: 17px;
    font-family: var(--tertiaryFont);
}

.right-nav > a:hover {
    background-color: var(--secondaryColor);
    color: var(--primaryColor);
}

.right-nav > a:focus {
    transition: all 0.2s ease-in-out;
    transform: scale(1.1);
}
