<button mat-raised-button color="primary" class="custom-button" [routerLink]="'/useradd'">+ Add User</button>

<mat-form-field appearance="fill">
    <mat-label>General Search</mat-label>
    <input matInput (input)="applyFilter($event.target)" placeholder="Search Text">
</mat-form-field>


<table mat-table [dataSource]="dataSource" class="mat-elevation-z8 w-100">
    <ng-container matColumnDef="userId">
        <th mat-header-cell *matHeaderCellDef> User ID</th>
        <td mat-cell *matCellDef="let element"> {{element.userId}} </td>
    </ng-container>

    <ng-container matColumnDef="username">
        <th mat-header-cell *matHeaderCellDef> User Name</th>
        <td mat-cell *matCellDef="let element"> {{element.username}} </td>
    </ng-container>

    <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> User E-Mail</th>
        <td mat-cell *matCellDef="let element"> {{element.email}} </td>
    </ng-container>

    <ng-container matColumnDef="creationDate">
        <th mat-header-cell *matHeaderCellDef> Creation Date </th>
        <td mat-cell *matCellDef="let element"> {{element.creationDate | date}}</td>
    </ng-container>

    <ng-container matColumnDef="isActive">
        <th mat-header-cell *matHeaderCellDef> Is Active </th>
        <td mat-cell *matCellDef="let element"> {{element.isActive ? "Active" : "Passive"}}</td>
    </ng-container>

    <ng-container matColumnDef="transactions">
        <th mat-header-cell *matHeaderCellDef> Transactions </th>
        <td mat-cell *matCellDef="let element">

            <app-button [buttonText]="'Detail'" [id]="element.userId" (onButtonClick)="handleDetailClick($event)">
            </app-button>
            <app-button class="ml-5" [buttonText]="'Delete'" [id]="element.userId" (onButtonClick)="handleDeleteClick($event)">
            </app-button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true;"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="row-color"></tr>

</table>

<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of periodic elements">
</mat-paginator>


<!-- 
<form *ngIf="editMode" class="editForm">
    <label for="isActive">User Activation State</label>
    <select [(ngModel)]="isActive" name="isActive">
        <option [value]="true"> Active </option>
        <option [value]="false">Passive</option>
    </select>
    <div class="buttons">
        <button (click)="handleSaveClick()" type="button" class="save-btn">Save</button>
        <button (click)="handleCancelClick()" type="button" class="cancel-btn">Cancel</button>
    </div>
</form> -->