

<form name="categoryForm" class="custom-form">
    <div class="footer" class="white">
        <div>
            <p>{{category.name}} contains {{postCount}} posts.</p>
        </div>
    </div>
    <div mat-dialog-content newgenPerfectScrollbar>
        <div fxLayout="row" fxLayoutGap="5px" class="mt-20">
            <div fxFlex="50" fxLayout.xs="column" fxLayoutGap="4px">
                <mat-form-field appearance="outline" fxFlex="100">
                    <mat-label>Category Name</mat-label>
                    <input matInput [(ngModel)]="category.name" [disabled]="!editMode" [ngModelOptions]="{standalone: true}">
                </mat-form-field>
            </div>
        </div>
        <div fxLayout="row" fxLayoutGap="5px" class="mt-20">
            <div fxFlex="50" fxLayout.xs="column" fxLayoutGap="4px">
                <mat-form-field appearance="outline" fxFlex="100">
                    <mat-label>Creation Date</mat-label>
                    <input matInput type="date" [(ngModel)]="category.creationDate" [disabled]="!editMode" [ngModelOptions]="{standalone: true}">
                </mat-form-field>
            </div>
        </div>

        <div fxLayout="row" fxLayoutAlign="end center">
            <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="end center">
                <button *ngIf="!editMode" mat-stroked-button color="warn" (click)="handleEditClick()" aria-label="Close dialog">
                    <span>Edit</span>
                </button>
                <button *ngIf="editMode" mat-stroked-button color="warn" (click)="handleSaveClick()" aria-label="Close dialog">
                    <span>Save</span>
                </button>
                <button class="ml-1" mat-stroked-button color="warn" (click)="handleDeleteClick()" aria-label="Close dialog">
                    <span>Delete</span>
                </button>
                <button class="ml-1" mat-stroked-button color="primary" [routerLink]="'/categorylist'" type="button">
                    <span>
                        Return Category List
                    </span>
                </button>
                <button class="ml-1" mat-stroked-button color="primary" (click)="gotoCategoriePosts(category.categoryId)" type="button">
                    <span>
                        Go To Category's Posts
                    </span>
                </button>
            </div>
        </div>
    </div>
</form>