<div class="navbar">
  <div class="left-nav">
    <a routerLink="" type="button" class="btn btn-outline-light"
      >Blog Management</a
    >
  </div>
  <div class="right-nav">
    <a routerLink="/userlist" type="button" class="btn btn-outline-danger"
      >User List</a
    >
    <a routerLink="/categorylist" type="button" class="btn btn-outline-warning"
      >Category List</a
    >
    <a routerLink="/postlist" type="button" class="btn btn-outline-success"
      >Post List</a
    >
    <a routerLink="/commentlist" type="button" class="btn btn-outline-info"
      >Comment List</a
    >
  </div>
</div>
