
<form  name="userForm" class="custom-form">
    <div mat-dialog-content newgenPerfectScrollbar>
        <div fxLayout="row" fxLayoutGap="5px" class="mt-20">
            <div fxFlex="50" fxLayout.xs="column" fxLayoutGap="4px">
                <mat-form-field appearance="outline" fxFlex="100">
                    <mat-label>User Name</mat-label>
                    <input matInput [(ngModel)]="user.username" [disabled]="!editMode" [ngModelOptions]="{standalone: true}">
                </mat-form-field>
            </div>
        </div>
        <div fxLayout="row" fxLayoutGap="5px" class="mt-20">
            <div fxFlex="50" fxLayout.xs="column" fxLayoutGap="4px">
                <mat-form-field appearance="outline" fxFlex="100">
                    <mat-label>Email Adress</mat-label>
                    <input matInput [(ngModel)]="user.email" [disabled]="!editMode" [ngModelOptions]="{standalone: true}">
                </mat-form-field>
            </div>
        </div>
        <div fxLayout="row" fxLayoutGap="5px" class="mt-20">
            <div fxFlex="50" fxLayout.xs="column" fxLayoutGap="4px">
                <mat-form-field appearance="outline" fxFlex="100">
                    <mat-label>Creation Date</mat-label>
                    <input matInput type="date" [(ngModel)]="user.creationDate"  [disabled]="!editMode" [ngModelOptions]="{standalone: true}">
                </mat-form-field>
            </div>
        </div>
        <div fxLayout="row" fxLayoutGap="5px" class="mt-20">
            <div fxFlex="50" fxLayout.xs="column" fxLayoutGap="4px">
                <mat-form-field appearance="outline" fxFlex="100">
                    <mat-label>User Activation Stat</mat-label>
                    <select matNativeControl [(ngModel)]="user.isActive"  [disabled]="!editMode" [ngModelOptions]="{standalone: true}" name="isPublished">
                        <option [value]="true"> Active </option>
                        <option [value]="false">Passive</option>
                    </select>
                </mat-form-field>
            </div>
        </div>

        <div fxLayout="row" fxLayoutAlign="end center">
            <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="end center">
                <button *ngIf="!editMode" mat-stroked-button color="warn" (click)="handleEditClick()" aria-label="Close dialog">
                    <span>Edit</span>
                </button>
                <button *ngIf="editMode" mat-stroked-button color="warn" (click)="handleSaveClick()" aria-label="Close dialog">
                    <span>Save</span>
                </button>
                <button class="ml-1" mat-stroked-button color="warn" (click)="handleDeleteClick()" aria-label="Close dialog">
                    <span>Delete</span>
                </button>
                <button class="ml-1" mat-stroked-button color="primary" [routerLink]="'/userlist'" type="button">
                    <span>
                        Return User List
                    </span>
                </button>
            </div>
        </div>
    </div>
</form>




