<table class="table-container">
  <thead class="table-head">
    <tr>
      <th>USER ID</th>
      <th>USERNAME</th>
      <th>EMAIL</th>
      <th>CREATION DATE</th>
      <th>IS ACTIVE</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of pagedData">
      <td>{{ item.userId }}</td>
      <td>{{ item.username }}</td>
      <td>{{ item.email }}</td>
      <td>{{ item.creationDate | date }}</td>
      <td>{{ item.isActive }}</td>
      <td class="button">
        <app-button
          [buttonText]="'Delete'"
          [id]="item.userId"
          (onButtonClick)="handleDeleteClick($event)"
        >
        </app-button>
        <app-button
          [buttonText]="'Edit'"
          [id]="item.userId"
          (onButtonClick)="handleEditClick($event)"
        ></app-button>
      </td>
    </tr>
  </tbody>
</table>
<br />

<div class="bottom-section">
  <div class="pagination" *ngIf="totalPages > 0">
    <button [disabled]="currentPage === 1" (click)="previousPage()">
      Previous
    </button>
    <span>{{ currentPage }} </span>
    <button [disabled]="currentPage === totalPages" (click)="nextPage()">
      Next
    </button>
  </div>

  <app-button [buttonText]="'Add User'" routerLink="/useradd"></app-button>

  <form *ngIf="editMode">
    <label for="username">Username</label>
    <input type="text" [(ngModel)]="username" name="username" />
    <label for="email">Email</label>
    <input type="email" [(ngModel)]="email" name="email" />
    <label for="creationDate">Creation Date</label>
    <input type="date" [(ngModel)]="creationDate" name="creationDate" />
    <label for="isActive">Activation State</label>
    <select [(ngModel)]="isActive" name="isActive">
      <option [value]="true">Active</option>
      <option [value]="false">Inactive</option>
    </select>

    <div>
      <app-button
        [buttonText]="'Save'"
        (onButtonClick)="handleSaveClick()"
      ></app-button>
      <app-button
        [buttonText]="'Cancel'"
        (onButtonClick)="handleCancelClick()"
      ></app-button>
    </div>
  </form>
</div>
