.category-detail-component {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  margin: 0px 40px;
}

form {
  display: flex;
  justify-content: flex-start;
  align-content: center;
  gap: 50px;
}
