@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Indie+Flower&family=Pacifico&display=swap');

:root {
  --primaryColor: #e6841c;
  --secondaryColor: #000000;
  --bgColor: #013c14;
  --writeColor: #F8ECF1;
  --primaryFont: 'Pacifico', sans-serif;
  --secondaryFont: 'Indie Flower', cursive;
  --tertiaryFont: 'Bebas Neue', cursive;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: #424242;
  background-repeat: no-repeat;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-form-field-appearance-outline .mat-form-field-infix {
  padding: 1em 0 1em 0;
  color: white !important;
}

.custom-mat-card {
  height: 600px !important;
  padding: 5% !important;
}

.center-text {
  text-align: center !important;
}

.ml-1 {
  margin-left: 1% !important;
}

.ml-5 {
  margin-left: 5% !important;
}

.ml-2 {
  margin-left: 2% !important;
}

.white {
  color: white !important;
}

.w-100 {
  width: 100% !important;
}

.custom-form {
  text-align: center !important;
  padding: 5% !important;
}

.custom-button {
  margin-top: 0.5% !important;
  background-color: var(--bgColor) !important;
  float: right !important;
}



.row-color:nth-child(even) {
  background-color: var(--bgColor);
  /* Çift satırlar için yeşil arkaplan */
}

th.mat-header-cell, td.mat-cell {
  width: 200px; /* Sütun genişliği */
  white-space: nowrap; /* Uzun metinlerin satır atlamadan görüntülenmesini sağlar */
  overflow: hidden; /* İçeriğin sütun dışına taşmasını engeller */
  text-overflow: ellipsis; /* Taşan içeriği ... ile gösterir */
}