<table>
  <thead>
    <tr>
      <th>CATEGORY ID</th>
      <th>CATEGORY NAME</th>
      <th>CREATION DATE</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of pagedData">
      <td>{{ item.categoryId }}</td>
      <td>{{ item.name }}</td>
      <td>{{ item.creationDate }}</td>
      <td class="button">
        <app-button
          [buttonText]="'Detail'"
          [id]="item.categoryId"
          (onButtonClick)="handleDetailClick($event)"
        ></app-button>
        <app-button
          [buttonText]="'Delete'"
          [id]="item.categoryId"
          (onButtonClick)="handleDeleteClick($event)"
        ></app-button>
      </td>
    </tr>
  </tbody>
</table>

<div class="bottom-section">
<div class="pagination" *ngIf="totalPages > 0">
  <button [disabled]="currentPage === 1" (click)="previousPage()">
    Previous
  </button>
  <span>{{ currentPage }} </span>
  <button [disabled]="currentPage === totalPages" (click)="nextPage()">
    Next
  </button>
</div>

<form *ngIf="addCategoryForm">
  <label for="name">Name</label>
  <input type="text" [(ngModel)]="newCategoryName" name="name" />
  <label for="creationDate">Creation Date</label>
  <input type="date" [(ngModel)]="newCategoryDate" name="creationDate" />
  <div>
    <app-button
    [buttonText]="'Save'"
    (onButtonClick)="handleSaveClick()"
  ></app-button>
  <app-button
    [buttonText]="'Cancel'"
    (onButtonClick)="handleCancelClick()"
  ></app-button>
  </div>
</form>



<app-button [buttonText]="'Add Category'" (onButtonClick)="handleAddCategory()"></app-button>

</div>
