<mat-card class="custom-mat-card">
    <form name="postForm" class="center-text">
        <div mat-dialog-content newgenPerfectScrollbar>
            <div fxLayout="row" fxLayoutGap="5px" class="mt-20">
                <div fxFlex="50" fxLayout.xs="column" fxLayoutGap="4px">
                    <mat-form-field appearance="outline" fxFlex="100">
                        <mat-label>Title</mat-label>
                        <input matInput [(ngModel)]="post.title" [ngModelOptions]="{standalone: true}">
                    </mat-form-field>
                </div>
            </div>
            <div fxLayout="row" fxLayoutGap="5px" class="mt-20">
                <div fxFlex="50" fxLayout.xs="column" fxLayoutGap="4px">
                    <mat-form-field appearance="outline" fxFlex="100">
                        <mat-label>Content</mat-label>
                        <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5" [(ngModel)]="post.content" [ngModelOptions]="{standalone: true}"></textarea>
                    </mat-form-field>
                </div>
            </div>
            <div fxLayout="row" fxLayoutGap="5px" class="mt-20">
                <div fxFlex="50" fxLayout.xs="column" fxLayoutGap="4px">
                    <mat-form-field appearance="outline" fxFlex="100">
                        <mat-label>View Count</mat-label>
                        <input matInput type="number" [(ngModel)]="post.viewCount" [ngModelOptions]="{standalone: true}">
                    </mat-form-field>
                </div>
            </div>
            <div fxLayout="row" fxLayoutGap="5px" class="mt-20">
                <div fxFlex="50" fxLayout.xs="column" fxLayoutGap="4px">
                    <mat-form-field appearance="outline" fxFlex="100">
                        <mat-label>Creation Date</mat-label>
                        <input matInput type="date" [(ngModel)]="post.creationDate" [ngModelOptions]="{standalone: true}">
                    </mat-form-field>
                </div>
            </div>
            <div fxLayout="row" fxLayoutGap="5px" class="mt-20">
                <div fxFlex="50" fxLayout.xs="column" fxLayoutGap="4px">
                    <mat-form-field appearance="outline" fxFlex="100">
                        <mat-label>Publish State</mat-label>
                        <select matNativeControl [(ngModel)]="post.isPublished" [ngModelOptions]="{standalone: true}" name="isPublished">
                            <option [value]="true"> Published </option>
                            <option [value]="false">Notpublished</option>
                        </select>
                    </mat-form-field>
                </div>
            </div>
            <div fxLayout="row" fxLayoutGap="5px" class="mt-20">
                <div fxFlex="50" fxLayout.xs="column" fxLayoutGap="4px">
                    <mat-form-field appearance="outline" fxFlex="100">
                        <mat-label>User</mat-label>
                        <select matNativeControl [(ngModel)]="post.userId" name="user" [ngModelOptions]="{standalone: true}">
                            <option *ngFor="let user of users" [value]="user.userId">{{user.username}}</option>
                        </select>
                    </mat-form-field>
                </div>
            </div>
            <div fxLayout="row" fxLayoutGap="5px" class="mt-20">
                <div fxFlex="50" fxLayout.xs="column" fxLayoutGap="4px">
                    <mat-form-field appearance="outline" fxFlex="100">
                        <mat-label>Categories</mat-label>
                        <select matNativeControl [(ngModel)]="post.categoryId" name="user" [ngModelOptions]="{standalone: true}">
                            <option *ngFor="let category of categories" [value]="category.categoryId">{{category.name}}</option>
                        </select>
                    </mat-form-field>
                </div>
            </div>

            <div fxLayout="row" fxLayoutAlign="end center">
                <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="end center">
                    <button mat-stroked-button color="warn" (click)="handleSaveClick()" aria-label="Close dialog">
                        <span>Save</span>
                    </button>
                    <button class="ml-1" mat-stroked-button color="primary" (click)="handleCancelClick()" type="button">
                        <span>
                            Cancel
                        </span>
                    </button>
                </div>
            </div>
        </div>
    </form>
</mat-card>