<button mat-raised-button color="primary" class="custom-button ml-2" [routerLink]="'/postadd'">+ Add Post</button>
<button mat-raised-button color="primary" class="custom-button" (click)="clearFilter()">Clear Filter</button>

<mat-form-field appearance="fill">
    <mat-label>General Search</mat-label>
    <input matInput (input)="applyFilter($event.target)" placeholder="Search Text">
</mat-form-field>

<mat-form-field appearance="fill" class="ml-2">
    <mat-label>User Search</mat-label>
    <select matNativeControl [(ngModel)]="selectedUserId" (change)="applyFilterUser()" name="user" [ngModelOptions]="{standalone: true}">
        <option *ngFor="let user of users" [value]="user.userId">{{user.username}}</option>
    </select>
</mat-form-field>

<mat-form-field appearance="fill" class="ml-2">
    <mat-label>Category Search</mat-label>
    <select matNativeControl [(ngModel)]="selectedCategoryId" (change)="applyFilterCategorie()" name="user" [ngModelOptions]="{standalone: true}">
        <option *ngFor="let category of categories" [value]="category.categoryId">{{category.name}}</option>
    </select>
</mat-form-field>

<mat-form-field appearance="fill" class="ml-2">
    <mat-label>Post Search</mat-label>
    <select matNativeControl [(ngModel)]="selectedPostId" (change)="applyFilterPost()" name="user" [ngModelOptions]="{standalone: true}">
        <option *ngFor="let post of posts" [value]="post.postId">{{post.title}}</option>
    </select>
</mat-form-field>


<table mat-table [dataSource]="dataSource" class="mat-elevation-z8 w-100">
    <ng-container matColumnDef="postId">
        <th mat-header-cell *matHeaderCellDef> Post Id</th>
        <td mat-cell *matCellDef="let element"> {{element.postId}} </td>
    </ng-container>

    <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef> Title</th>
        <td mat-cell *matCellDef="let element"> {{element.title}} </td>
    </ng-container>

    <ng-container matColumnDef="viewCount">
        <th mat-header-cell *matHeaderCellDef> View Count </th>
        <td mat-cell *matCellDef="let element"> {{element.viewCount | formatNumber}}</td>
    </ng-container>

    <ng-container matColumnDef="creationDate">
        <th mat-header-cell *matHeaderCellDef> Creation Date </th>
        <td mat-cell *matCellDef="let element"> {{element.creationDate | date}}</td>
    </ng-container>

    <ng-container matColumnDef="isPublished">
        <th mat-header-cell *matHeaderCellDef> Is Published </th>
        <td mat-cell *matCellDef="let element"> {{element.isPublished ? 'Publish' : 'Not Publish'}}</td>
    </ng-container>

    <ng-container matColumnDef="transactions">
        <th mat-header-cell *matHeaderCellDef> Transactions </th>
        <td mat-cell *matCellDef="let element">
            <app-button [buttonText]="'Detail'" [id]="element.postId" (onButtonClick)="handleDetailClick($event)"></app-button>
            <app-button class="ml-5" [buttonText]="'Delete'" [id]="element.postId" (onButtonClick)="handleDeleteClick($event)"></app-button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true;"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="row-color"></tr>

</table>

<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of periodic elements">
</mat-paginator>