<mat-card class="custom-mat-card">
    <form name="postForm" class="center-text">
        <div mat-dialog-content newgenPerfectScrollbar>
            <div fxLayout="row" fxLayoutGap="5px" class="mt-20">
                <div fxFlex="50" fxLayout.xs="column" fxLayoutGap="4px">
                    <mat-form-field appearance="outline" fxFlex="100">
                        <mat-label>Category Name</mat-label>
                        <input matInput [(ngModel)]="category.name" [ngModelOptions]="{standalone: true}">
                    </mat-form-field>
                </div>
            </div>
           
            <div fxLayout="row" fxLayoutGap="5px" class="mt-20">
                <div fxFlex="50" fxLayout.xs="column" fxLayoutGap="4px">
                    <mat-form-field appearance="outline" fxFlex="100">
                        <mat-label>Creation Date</mat-label>
                        <input matInput type="date" [(ngModel)]="category.creationDate" [ngModelOptions]="{standalone: true}">
                    </mat-form-field>
                </div>
            </div>
           
            <div fxLayout="row" fxLayoutAlign="end center">
                <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="end center">
                    <button mat-stroked-button color="warn" (click)="handleSaveClick()" aria-label="Close dialog">
                        <span>Save</span>
                    </button>
                    <button class="ml-1" mat-stroked-button color="primary" (click)="handleCancelClick()" type="button">
                        <span>
                            Cancel
                        </span>
                    </button>
                </div>
            </div>
        </div>
    </form>
</mat-card>