<button mat-raised-button color="primary" class="custom-button ml-2" [routerLink]="'/commentadd'">+ Add Comment</button>
<button mat-raised-button color="primary" class="custom-button" (click)="clearFilter()">Clear Filter</button>

<mat-form-field appearance="fill">
    <mat-label>General Search</mat-label>
    <input matInput (input)="applyFilter($event.target)" placeholder="Search Text">
</mat-form-field>

<mat-form-field appearance="fill" class="ml-2">
    <mat-label>Post Search</mat-label>
    <select matNativeControl [(ngModel)]="selectedPostId" (change)="applyFilterPost()" name="user" [ngModelOptions]="{standalone: true}">
        <option *ngFor="let post of posts" [value]="post.postId">{{post.title}}</option>
    </select>
</mat-form-field>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8 w-100">
    <ng-container matColumnDef="commentId">
        <th mat-header-cell *matHeaderCellDef> Comment Id</th>
        <td mat-cell *matCellDef="let element"> {{element.commentId}} </td>
    </ng-container>
    <ng-container matColumnDef="postId">
        <th mat-header-cell *matHeaderCellDef> Post Id</th>
        <td mat-cell *matCellDef="let element"> {{element.postId}} </td>
    </ng-container>
    <ng-container matColumnDef="userId">
        <th mat-header-cell *matHeaderCellDef> User Id</th>
        <td mat-cell *matCellDef="let element"> {{element.userId}} </td>
    </ng-container>

    <ng-container matColumnDef="comment">
        <th mat-header-cell *matHeaderCellDef> Comment</th>
        <td mat-cell *matCellDef="let element"> {{element.comment}} </td>
    </ng-container>

    <ng-container matColumnDef="creationDate">
        <th mat-header-cell *matHeaderCellDef> Creation Date </th>
        <td mat-cell *matCellDef="let element"> {{element.creationDate | date}}</td>
    </ng-container>

    <ng-container matColumnDef="isConfirmed">
        <th mat-header-cell *matHeaderCellDef> Is isConfirmed </th>
        <td mat-cell *matCellDef="let element"> {{element.isConfirmed ? 'Confirm' : 'Not Confirm'}}</td>
    </ng-container>

    <ng-container matColumnDef="transactions">
        <th mat-header-cell *matHeaderCellDef> Transactions </th>
        <td mat-cell *matCellDef="let element">
            <app-button [buttonText]="'Detail'" [id]="element.commentId" (onButtonClick)="handleDetailClick($event)"></app-button>
            <app-button class="ml-5" [buttonText]="'Delete'" [id]="element.commentId" (onButtonClick)="handleDeleteClick($event)"></app-button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true;"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="row-color"></tr>

</table>

<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of periodic elements">
</mat-paginator>